.popup__save-button_disabled {
	background-color: white;
	opacity: 0.2;
	border: 1px solid black;
	box-sizing: border-box;
	color: black;
}

.popup__save-button_disabled:hover {
	opacity: 0.2;
	cursor: default;
}

