.profile__about {
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	padding: 16px 0 0 30px;
	margin: 0;
	grid-column: 2/3;
	grid-row: 2/4;
	align-self: start;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 336px;
}

@media screen and (max-width: 950px) {
	.profile__about {
		max-width: 250px;
	}
}

@media screen and (max-width: 700px) {
	.profile__about {
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		justify-self: center;
		padding: 14px 0 36px;
		max-width: calc(100% - 38px);
	}
}