.places__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 361px;
	/*grid-template-rows: repeat(2, 361px);*/
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px 17px;
}


@media screen and (max-width: 950px) {
	.places__list {
		grid-template-columns: repeat(2, 282px);
		justify-content: center;
		grid-auto-rows: max-content;
	}
} 

@media screen and (max-width: 700px) {
	.places__list {
		grid-template-columns: 282px;
	}
} 