.profile {
	max-width: 880px;
	margin: 0 auto;
	padding: 40px 0 51px;
	display: grid;
	grid-template-columns: repeat(3, max-content) 1fr;
	grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 950px) {
	.profile {
		margin: 0 100px;
	}
}

@media screen and (max-width: 700px) {
	.profile {
		padding: 42px 0 36px;
		margin: 0 19px;
		align-items: center;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, min-content);
	}
}