.profile__edit-button {
	padding: 0;
	margin: 0 0 6px;
	width: 24px;
	height: 24px;
	border: 1px solid #FFF;
	box-sizing: border-box;
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../../images/pen-button.svg);
	background-size: 40%;
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	align-self: end;
	transition: 0.5s opacity ease;
	outline: none;
}

.profile__edit-button:hover {
	opacity: 0.6;
	cursor: pointer;
}



@media screen and (max-width: 700px) {
	.profile__edit-button {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		justify-self: end;
		width: 18px;
		height: 18px;
		margin-right: calc((100% - 282px) / 2);
	}
}