.card__like {
	background-image: url(../../../images/no-like.svg);
	width: 22px;
	height: 19px;
	align-self: center;
	transition: opacity 0.5s ease;
	border: none;
	background-color: #fff;
	outline: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.card__like:hover {
	opacity: 0.6;
	cursor: pointer;
}

.card__like:active {
	background-image: url(../../../images/like.svg);
}