.popup__input {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	padding: 13px 0 13px;
	width: 358px;
	margin: 0 auto;
	outline: none;
	max-width: 84%;
	box-sizing: border-box;
}

.popup__input::placeholder {
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
}